#
## NETBEANS ##

build/
dist/
nb-configuration.xml
nbactions.xml
nbbuild/
nbdist/
Makefile-*
Package-*
private/

Makefile-default.mk
Makefile-genesis.properties
Makefile-impl.mk
Makefile-local-default.mk
Makefile-variables.mk
Package-default.bash

!configurations.xml
!Makefile
!project.xml


*/nbproject/private/
*/nbproject/private/*
