*.pdf

# linux
.*
!.gitignore
*~
.directory

# OS X
.DS_Store
.AppleDouble
.LSOverride
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?

# windows
thumbs.db
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# vim
.*.sw[a-z]
*.un~
Session.vim
.netrwhist

# emacs
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# netbeans files/folders
build/
dist/
nb-configuration.xml
nbactions.xml
nbbuild/
nbdist/
nbproject/private/
projects/*/nbproject/private/
projects/*/nbproject/private/*
!configurations.xml
!Makefile
!project.xml

# C
## object files
*.o
*.o.obj
*.obj
## libraries
*.lib
*.a
## shared objects
*.dll
*.so
*.so.*
*.dylib
## executables
*.exe
*.out
*.app

# archives
*.7z
*.jar
*.rar
*.zip
*.gz
*.bzip
*.bz2
*.xz
*.lzma
## packing-only formats
*.iso
*.tar
## package management formats
*.dmg
*.xpi
*.gem
*.egg
*.deb
*.rpm

