*.pdf

*.doc
*.docx
*.ppt
*.pptx
*.xls
*.xlsx
*.graffle

*.hex
*.elf

*.bak

# linux
.*
!.gitignore
*~
.directory

# OS X
.DS_Store
.AppleDouble
.LSOverride
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?

# windows
thumbs.db
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# vim
.*.sw[a-z]
*.un~
Session.vim
.netrwhist

# emacs
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Xcode
build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
*.xcuserstate
project.xcworkspace/
xcuserdata/
profile
*.moved-aside
*~.nib
*.xcodeproj/

# netbeans files/folders
build/
dist/
nb-configuration.xml
nbactions.xml
nbbuild/
nbdist/
Makefile-*
Makefile-default.mk
Makefile-local-default.mk
Makefile-genesis.properties
Makefile-impl.mk
Package-*
Package-default.bash
nbproject/private/
nbproject/private/*
libs/*/nbproject/private/
libs/*/nbproject/private/*
projects/*/nbproject/private/
projects/*/nbproject/private/*
*.mk
*.properties
!configurations.xml
!Makefile
!project.xml

#Sublime Text 2
*.sublime-project
*.sublime-workspace

# C
## object files
*.o
*.o.obj
*.obj
## libraries
*.lib
*.a
## shared objects
*.dll
*.so
*.so.*
*.dylib
## executables
*.exe
*.out
*.app

# archives
*.7z
*.jar
*.rar
*.zip
*.gz
*.bzip
*.bz2
*.xz
*.lzma
## packing-only formats
*.iso
*.tar
## package management formats
*.dmg
*.xpi
*.gem
*.egg
*.deb
*.rpm

# Exclude doxygen-generated docs
html/
latex/
rtf/
